.game-box {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 72px;
    transition: gap 0.3s ease;


    &_img {
        width: 100%;
    }

    &__item {
        grid-column: span 4;
        height: 100%;

        a {
            text-decoration: none;
        }
    }





    &_card {
        background-color: white;
        border-radius: 30px;
        max-width: 378px;
        transition: transform 0.3s;
        cursor: pointer;
        height: 100%;

        &:hover {
            transform: scaleY(1.1);
        }



    }

    &_name {
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        color: black;
        text-decoration: none;
    }

    &_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px 32px 36px;
        gap: 16px;
    }

    &_number {
        display: inline-block;
        padding: 8px 16px;
        background-color: rgb(247, 247, 247);
        border-radius: 52px;
        text-decoration: none;
        color: black;
    }
}



.mini-game {
    display: grid;
    gap: 32px;
    margin-top: 72px;



    &__item {
        grid-column: span 4;
        height: 100%;
        width: 100%;

        a {
            text-decoration: none;
        }

        &:nth-child(2n) {
            .mini-game_card {
                flex-direction: row;
            }
        }
    }


    &_card {
        display: flex;
        flex-direction: row-reverse;
        background-color: white;
        border-radius: 30px;
        max-width: 100%;
        transition: transform 0.3s;
        cursor: pointer;
        height: 100%;
        


    }

    &_name {
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0px;
        color: black;
        text-decoration: none;
    }

    &_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 48px;
        transition: background-color 0.5s;
    }

    &_rulse {
        display: inline-block;
        padding: 24px 0px;
        text-decoration: none;
        color: black;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
    }

    &_img {
        width: 50%;

    }

    &__go-btn {
        margin-top: 12px;
    }


}

@media screen and (max-width: 1023px) {
    .game-box {
        &__item {
            grid-column: span 12;
        }
    }

    .mini-game {
        &_card {
            flex-direction: column;
        }

        &_content {
            padding: 30px;
        }

        &__go-btn {
            width: 100%;
        }

        &_name {
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
        }

        &_rulse {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
        }

        &_img {
            width: 100%;
        }

        &__item {
            &:nth-child(2n) {
                .mini-game_card {
                    flex-direction: column;
                }
            }
        }
    }
}