.section {

    &_green-bg {
        background-image: url(/desktop.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    &_black {
        background-color: black;
    }

    &_about {
        padding: 94px 0 50px;
    }
}