.top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 800px;

    &__go-btn {
        margin-top: 48px;

        // &_scroll {
        //     text-decoration: none;
        //     color: white;
        // }

        // &_scroll:hover {
        //     color: black;
        // }
    }
}